/* @media  screen and ( max-width: 919px){
    .child-scroll{
        max-width: 700px;
        
        
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 1px;
       
     
     }
}
@media  screen and ( max-width: 768px){
    .child-scroll{
        max-width: 500px;
        
        
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 1px;
       
     
     }
}
@media  screen and ( max-width: 576px){
    .child-scroll{
        max-width: 360px;
        
        
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 1px;
       
     
     }
     .food-variety1, .food-variety2, .food-variety3{
        width: 300px;
       
    }
}
@media  screen and ( max-width: 381px){
    .child-scroll{
        max-width: 275px;
        
        
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 1px;
       
     
     }
     .food-variety1, .food-variety2, .food-variety3{
        width: 230px;
        height: 230px;
       
    }
} */








/* esasi */
@media(max-width:576px){
    .child-scroll{
        max-width: 335px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 ,.sort-menu16 ,.sort-menu17{
       width: 310px;
     }
     .line{
        width: 70%;
    }
    .above img{
        width: 45px;
        height: 40px;
        bottom: 21px;
        right: 15px;
    }
}


@media(min-width:577px) and (max-width:768px) {
    .child-scroll{
        max-width: 440px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 {
       width: 250px;
     }
     .line{
        width: 40%;
    }
    .above {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: 3px solid red;
        background-color: white;
        border-radius: 50px;
    }
    .like{
        width: 60%;
    }
}


@media(min-width:769px) and (max-width:992px) {
    .child-scroll{
        max-width: 500px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 ,.sort-menu16 ,.sort-menu17{
       width: 350px;
     }
     .line{
        width: 35%;
    }
    .above {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: 3px solid red;
        background-color: white;
        border-radius: 50px;
    }
    .like{
        width: 80%;
    }
}


@media(min-width:993px) and (max-width:1200px) {
    .child-scroll{
        max-width: 600px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 ,.sort-menu16 ,.sort-menu17{
       width: 380px;
     }
     .line{
        width: 30%;
    }
    .above {
        position: fixed;
        bottom: 18px;
        right: 20px;
        border: 3px solid red;
        background-color: white;
        border-radius: 50px;
    }
    .like{
        width: 80%;
    }
}

@media(min-width:1201px) and (max-width:1400px) {
    .child-scroll{
        max-width: 650px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 ,.sort-menu16 ,.sort-menu17{
       width: 390px;
     }
     .line{
        width: 30%;
    }
    .above {
        position: fixed;
        bottom: 17px;
        right: 25px;
        border: 3px solid red;
        background-color: white;
        border-radius: 50px;
    }
    .like{
        width: 80%;
    }
}

@media(min-width:1401px){
    .child-scroll{
        max-width: 680px;
    }
    .item1 ,.item2 ,.item3 ,.item4 ,.item5 ,.item6 ,.item7 ,.item8 ,.item9,.item10 ,.item11 ,.item12 ,.item13,.item14 ,.item15 ,.item16 ,.item17{
        padding: 5px 0;
     }
    .sort-menu1 ,.sort-menu2 ,.sort-menu3 ,.sort-menu4 ,.sort-menu5 ,.sort-menu6 ,.sort-menu7 ,.sort-menu8 ,.sort-menu9,.sort-menu10 ,.sort-menu11 ,.sort-menu12 ,.sort-menu13,.sort-menu14 ,.sort-menu15 ,.sort-menu16 ,.sort-menu17{
       width: 400px;
     }
     .line{
        width: 25%;
    }
    .above {
        position: fixed;
        bottom: 15px;
        right: 35px;
        border: 3px solid red;
        background-color: white;
        border-radius: 50px;
    }
    .like{
        width: 80%;
    }
}